@model Proyecto_Final_4.Models.Permisos

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Permisos</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                <p>    @Html.DisplayNameFor(model => model.CodigoE)</p>
            </dt>
    
            <dd>
                <p> @Html.DisplayFor(model => model.CodigoE)</p>
            </dd>
    
            <dt>
                <p>  @Html.DisplayNameFor(model => model.Desde)</p>
            </dt>
    
            <dd>
                <p>   @Html.DisplayFor(model => model.Desde)</p>
            </dd>
    
            <dt>
                <p> @Html.DisplayNameFor(model => model.Hasta)</p>
            </dt>
    
            <dd>
                <p>  @Html.DisplayFor(model => model.Hasta)</p>
            </dd>
    
            <dt>
                <p>  @Html.DisplayNameFor(model => model.Comentarios)</p>
            </dt>
    
            <dd>
                <p>  @Html.DisplayFor(model => model.Comentarios) </p>
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
